<span class="btn btn-success fileinput-button">
    <i class="glyphicon glyphicon-plus"></i>
    <span>Select files...</span>
    <!-- The file input field used as target for the file upload widget -->
    <input data-file-upload type="file" name="files[]" multiple>
	<!--<button data-file-submit></button>-->
</span>

<br>
<br>

<!-- The global progress bar -->
<div id="progress" class="progress">
	<div class="progress-bar progress-bar-success"></div>
</div>
<!-- The container for the uploaded files -->
<div id="files" class="files"></div>



